#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  display: center;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
/* Boton "contact us" */
button.contact-us {
  width: 70%; 
  padding: 1.4rem;
  cursor: pointer;
  background: #673de6;
  color: white;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

button.contact-us:hover {
  background: #421fa3;
}

/* Boton "Enviar" */
button.Enviar {
  width: 100%; 
  padding: 1.4rem;
  cursor: pointer;
  background: #673de6;
  color: white;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

button.submit:hover {
  background: #421fa3;
}



/*Boton quieres conducir con nosotros?*/
button.submit1 {
  width: 50%; 
  border-radius: 5px;
  background: #673de6;
  color: white;
  
}

button.submit1:hover {
  background: #421fa3;
}



/* Ajuste de margen entre los botones */
button {
  margin-bottom: 10px;
}  


.mensaje-exito {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}